@{
	ViewData["Title"] = "Home Page";
}
<h1>Departamentos de Colombia</h1>

<div id="buttons">
  <button id="infoUser" onclick="cargarUsuario(0)" class="esri-widget">Ver usuarios</button>
  <button id="verVeredasBtn" onclick="verificarVer()" class="esri-widget">Ver veredas</button>
</div>
<div id="viewDiv" class="custom"></div>
<div id="instruction" class="esri-widget">
	<span class="text-info-map">Clic en un Departamento para ver más detalles</span>
</div>

<script>
	function cargarUsuario(pagina) {
    $.ajax({
      type: "POST",
      url: '@Url.Action("GetAll", "User")',
      data: {
        page: pagina
      },
      success: function (result) {
        recargarUsuarios(result, pagina);
      },
      error: function (error) {
        alert(error);
      }
    });
  }

  function recargarUsuarios(users, page) {
    console.info("Cargando Usuarios", users);
    if (users.length > 0) {
        var tablaUsuarios = `
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
        `;
        var d = "";
        for (var i = 0; i < (users.length < 10 ? users.length : 10); i++) {
          d += `
          <tr>
            <td>${users[i].firstname}</td>
              <td>${users[i].lastname}</td>
              <td>${users[i].state == 0 ? "Inactivo" : "Activo"}</td>
          </tr>`
        }
        tablaUsuarios += d;
        tablaUsuarios += `
          </tbody>
        </table>
        <ul class="pagination justify-content-center">
        <li class="page-item ${page == 0 ? "disabled" : ""}"><a class="page-link btn" onclick="cargarUsuario(${page-1})">Anterior</a></li>
        <li class="page-item"><a class="page-link btn" onclick="cargarUsuario(1)"">1</a></li>
        <li class="page-item ${!users ? "diabled": ""}"><a class="page-link btn" onclick="cargarUsuario(${page+1})">Siguiente</a></li>
        </ul>
        `;
        $("#tablaUsuarios").html(tablaUsuarios);
      }
      console.warn("Dialog", userDialog);
      userDialog.show();
    }
</script>