@{
	ViewData["Title"] = "Sign up";
}

<!-- Default form login -->
<form class="text-center border border-light p-5" action="Create" method="post" style="width:40%; position:center;">
	<p class="h4 mb-4">Sign Up</p>
	<!-- Email -->
	<input type="text" name="username" required maxlength="20" class="form-control mb-4" placeholder="Username">
	<!-- Password -->
	<input type="password" name="password" required maxlength="20" class="form-control mb-4" placeholder="Password">
	<!-- Firstname -->
	<input type="text" name="firstname" required maxlength="20" class="form-control mb-4" placeholder="Password">
	<!-- Lastname -->
	<input type="text" name="lastname" required maxlength="20" class="form-control mb-4" placeholder="Password">
	<!-- Sign up button -->
	<button class="btn btn-info btn-block my-4" type="submit">Sign up</button>

</form>
<!-- Default form login -->